In [114]:
print("Hello")

Hello

In [115]:
def pubg():
    """ This function is performing Pubg operation"""
    enemy = True

    if enemy == True:
        print("Shoot")

    else:
        print("Dont Shoot")

In [116]:
pubg()

Shoot

In [117]:
print(pubg.__doc__)

 This function is performing Pubg operation

In [118]:
def odd_even(number):
    """This function returns value based on odd or even"""
    if type(number) == int:
        if number%2 == 0:
            return "even"
        else:
            return "odd"
        
    else:
        print("are you mad?")

In [119]:
odd_even(9)

'odd'

In [120]:
odd_even("Hey")

are you mad?

In [121]:
# Positional arguements

def power(a,b):
    return a**b

power(1,2)

1

In [122]:
# Default arguements

def power(a=2,b=3):
    return a**b

power()

8

In [123]:
# Keyword arguements

def power(a,b):
    return a**b

power(a=3,b=3)

27

In [124]:
## args and kwargs

#args
def adds(*args):
    output = 0

    for i in args:
        output = output + i

    print(args)

    return output

adds(2,4,5,6,3,4)

(2, 4, 5, 6, 3, 4)

24

In [125]:
def adds(*honey):
    output = 0

    for i in honey:
        output = output + i

    print(honey)

    return output

adds(2,4,5,6,3,4)

(2, 4, 5, 6, 3, 4)

24

In [126]:
# kwargs

def display_info(**kwargs):
    for(key,value) in kwargs.items():
        print(key,'->',value)
    print(kwargs)

In [127]:
display_info(India="Delhi",SriLanka="Colombo",Nepal="Kathmandu",Pakistan="Islamabad")

India -> Delhi
SriLanka -> Colombo
Nepal -> Kathmandu
Pakistan -> Islamabad
{'India': 'Delhi', 'SriLanka': 'Colombo', 'Nepal': 'Kathmandu', 'Pakistan': 'Islamabad'}

In [128]:
# Nested Function

def f():

    def g():
        print("G function")

    g()

    print("F function")

In [129]:
f()

G function
F function

In [130]:
# Lambda Function

def product(a,b):
    return a**b

product(2,3)

8

In [131]:
result = lambda a,b : a**b

result(2,3)

8

In [132]:
a = lambda s: 'e' in s
a('hello')

True

In [133]:
# odd and even function

a = lambda x: 'even' if x%2 ==0 else 'odd'
a(9)

'odd'

In [134]:
# Higher order function

def square(x):
    return x**2

l = [1,2,3,4,5]

for i in l:
    out = square(i)
    print(out)

1
4
9
16
25

In [135]:
l = [1,2,3,4,5]

def square(x):
    return x**2

def transform(f,l):
    output = []
    
    for i in l:
        output.append(f(i))

    print(output)

In [136]:
transform(lambda x:x**3, l)

[1, 8, 27, 64, 125]

# Map()

In [137]:
l = [1,2,3,4,5]

def square(l):
    for i in l:
        print(i**2)

square(l)

1
4
9
16
25

In [138]:
a = list(map( lambda x: x**2, l))
a

[1, 4, 9, 16, 25]

In [139]:
# odd and even numbers

l = [1,2,3,4,5,6]

a = list(map( lambda x: "even" if x%2 == 0 else "odd",l))
a

['odd', 'even', 'odd', 'even', 'odd', 'even']

In [140]:
users = [{
    'name':'Sai',
    'gender':'Female',
    'age':15

},
{
    'name':'Keerthi',
    'gender':'Female',
    'age':16

},
{
    'name':'Seelamanthula',
    'gender':'Male',
    'age':17

}
]

a = list(map(lambda users:users['name'],users))
a

['Sai', 'Keerthi', 'Seelamanthula']

# Filter()

In [141]:
L = [1,2,3,4,5,6,7]
a = list(filter( lambda x:x>3,L))
a

[4, 5, 6, 7]

In [142]:
fruits = ['apple','banana','cherry']

a = list(filter(lambda x:x.startswith('a'),fruits))
a

['apple']

# Reduce()

In [143]:
import functools

L = [1,2,3,4,5,6]

functools.reduce(lambda x,y:x+y,L)

21

In [144]:
# find max value

L = [1,2,3,4,5,6,7,8]

functools.reduce(lambda x,y:x if x>y else y,L)

8